<div id="contents">
    <em>Resume contents</em>
    <div id="cont_list">
        <ul>
            <li>+&nbsp<%= link_to("Objective","#objective") %></li>
            <li>+&nbsp<%= link_to("Education","#education") %></li>
            <li>+&nbsp<%= link_to("Relevant Coursework","#courses") %></li>
            <li>+&nbsp<%= link_to("Relevant Skills","#skills") %></li>
            <li>+&nbsp<%= link_to("Work Experience","#work") %></li>
            <li>+&nbsp<%= link_to("Projects","#projects") %></li>
        </ul>
    </div>
</div>