<% provide(:title, "Portfolio") %>

<h1>Portfolio</h1>
<p>Here are some examples of my work, at least what I can show. These are mostly school projects 
or stuff I've played with at home.</p>
<div id="portfolio">
    <table id="project_table">
        <tr>
            
            <th>Project</th>
            <th>Description</th>
            <th>Link</th>
            <% if current_user && current_user.admin %>
                <th>Action</th>
            <% end %>
        </tr>
        <% Portfolio.all.each do |p| %>
            <tr class="form_row">
                <% if p.id == params[:id].to_i %>
                    <%= form_tag portfolios_edit_path do %>
                        <td class="form_cell" ><%= text_field_tag('project',p.project,class: 'portfolio_text') %></td>
                        <td class="form_cell" ><%= text_area_tag('description',p.description, class: 'portfolio_area') %></td>
                        <td class="form_cell" ><%= text_area_tag('link', p.link, class: 'portfolio_area') %></td>
                        <td class="form_cell" ><%= submit_tag("Save Edits", class: 'portfolio_button') %></td>
                    <% end %>
                <% else %>
                    <td><%= p.project %></td>
                    <td><%= p.description %></td>
                    <% link = p.link.split('|') %>
                    <td><%= link_to(link[0], link[1], {target:"blank"})%></td>
                    <% if current_user && current_user.admin %>
                        <td class="form_cell" ><%= link_to("Delete",portfolios_destroy_path(:id => p.id),{class: 'portfolio_button'}) %> | <%= link_to("Edit", portfolios_path(:id => p.id),{class: 'portfolio_button'}) %></td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
        
        <% if current_user && current_user.admin && params[:id].nil? %>
            <% @portfolio = Portfolio.new %>
            <%= form_for @portfolio do |f| %>
            
                <tr>
                    <td class="form_cell" ><%= f.text_field :project, class: 'portfolio_text' %></td>
                    <td class="form_cell" ><%= f.text_area :description, class: 'portfolio_area' %></td>
                    <td class="form_cell" ><%= f.text_area :link, class: 'portfolio_area' %></td>
                    <td class="form_cell" ><%= f.submit "Add", class: 'portfolio_button' %></td>
                </tr>
                
            <% end %>
        <% end %>
    </table>
    
</div>